<a href="https://colab.research.google.com/github/Kundan2008-create/Class-1-/blob/main/Copy_of_Class_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("")

In [3]:
print(" Account holder name = kundan ")
print("Registered mobile number = 86992135982 ")
print(" Residential Address = Daria ")
print(" Account Details ")
print(" Account Type = Saving ")
print(" Account Balance = 10000 Crore")

 Account holder name = kundan
Registered mobile number = 86992135982
 Residential Address = Daria
 Account Details
 Account Type = Saving
 Account Balance = 10000 Crore

In [ ]:
a = Kundan
print("name")

In [ ]:
a = (" My name is kundan")
print(a)
b = 17
print(b)
c = ("I Live in a Daria chandigarh")
print(c)
d = (" i studeid in 11th class")
print(d)
e = (" I choose Stream OF +1 class of commerce ")
print(e)

 My name is kundan
17
I Live in a Daria chandigarh
 i studeid in 11th class
 I choose Stream OF +1 class of commerce

In [ ]:
print(" My name is kundan ")
print(" My age is 17 years old ")
print("I live in Daria chandigarh ")
print(" I studied in 11th class ")

 My name is kundan
 My age is 17 years old
I live in Daria chandigarh
 I studied in 11th class